<nav class="flex items-center px-2" ...attributes>
  <div class="navigation-logo flex items-center text-white text-lg">

    {{#if blog.coverImage}}
      <ResponsiveImage @image={{responsive-image-url blog.coverImage}} class="inline-block rounded-full border-2 border-white w-10 h-10 my-2 mr-2" alt="Profile picture"/>
    {{/if}}
    Nick Schot
  </div>

  <ul class="list-reset flex ml-auto text-lg h-full" role="menu">
    {{#let "text-white opacity-75 hover:opacity-100 no-underline" as |linkClass|}}
      {{#each blog.navigation as |navigation|}}
        <li class="ml-8 {{if (route-is navigation.route) 'nav-current'}}" role="menuitem">
          {{#if navigation.id}}
            {{#link-to navigation.route navigation.id class=linkClass}} {{navigation.label}} {{/link-to}}
          {{else if navigation.route}}
            {{#link-to navigation.route class=linkClass}} {{navigation.label}} {{/link-to}}
          {{else if navigation.link}}
            <a href="{{navigation.link}}" class={{linkClass}}> {{navigation.label}} </a>
          {{/if}}
        </li>
      {{/each}}
      {{#if blog.host}}
        <li class="ml-8" role="link">
          <a href={{concat "https://feedly.com/i/subscription/feed/" (encode blog.host) "/rss.xml"}} class={{linkClass}} title="RSS" target="_blank" rel="noopener"><FaIcon @icon="rss"/></a>
        </li>
      {{/if}}
    {{/let}}
  </ul>
</nav>