<ul class="list-reset flex justify-end text-lg" role="menu">
  {{#let "text-teal-lighter hover:text-white no-underline" as |linkClass|}}
    {{#each blog.navigation as |navigation|}}
      <li class="ml-8 {{if (route-is navigation.route) 'nav-current'}}" role="menuitem">
        {{#if navigation.id}}
          {{#link-to navigation.route navigation.id class=linkClass}} {{navigation.label}} {{/link-to}}
        {{else if navigation.route}}
          {{#link-to navigation.route class=linkClass}} {{navigation.label}} {{/link-to}}
        {{else if navigation.link}}
          <a href="{{navigation.link}}" class={{linkClass}}> {{navigation.label}} </a>
        {{/if}}
      </li>
    {{/each}}
  {{/let}}
</ul>
