<nav class="flex items-center" ...attributes>
  <div class="flex items-center text-white text-lg">
    <img src="/images/emberconf_profilepic.jpg" class="inline-block rounded-full border-2 border-white w-10 h-10 my-2 mr-2">
    Nick Schot
  </div>

  <ul class="list-reset flex ml-auto text-lg" role="menu">
    {{#let "text-teal-lighter hover:text-white no-underline" as |linkClass|}}
      {{#each blog.navigation as |navigation|}}
        <li class="ml-8 {{if (route-is navigation.route) 'nav-current'}}" role="menuitem">
          {{#if navigation.id}}
            {{#link-to navigation.route navigation.id class=linkClass}} {{navigation.label}} {{/link-to}}
          {{else if navigation.route}}
            {{#link-to navigation.route class=linkClass}} {{navigation.label}} {{/link-to}}
          {{else if navigation.link}}
            <a href="{{navigation.link}}" class={{linkClass}}> {{navigation.label}} </a>
          {{/if}}
        </li>
      {{/each}}
    {{/let}}
  </ul>
</nav>