<div class="" ...attributes>
  <TransitionIn @type="slide-up">
    <h2 class="uppercase text-center text-5xl font-light mb-10">Timeline</h2>
  </TransitionIn>
  <div class="mb-10 text-center flex justify-center">
    <button {{action "updateItems" "study"}} class="timeline-btn border-r {{studyClass}}">Study related</button>
    <button {{action "updateItems" "work"}} class="timeline-btn border-l {{workClass}}">Work related</button>
  </div>

  <div class="timeline-head"></div>

  <div class="timeline-items">
    {{yield (hash
        Now=(component "timeline/now")
        Unit=(component "timeline/unit" currentType=currentType)
    )}}
  </div>

  <div class="timeline-tail"></div>
</div>