
<div class="container mx-auto">
  {{#let model.post as |post|}}
    <article class="post-content {{post_class}} {{unless post.image 'no-image'}}">
      <header class="text-center py-8 sm:mt-10">
        <section class="leading-normal text-sm text-grey-darker mb-3">
          <time class="uppercase" datetime="{{date post format="YYYY-MM-DD"}}">{{date post format="D MMMM YYYY"}}</time>
          {{#if post.primaryTag}}
            <span>/</span> {{#link-to 'tag' post.primaryTag class="inline-block bg-grey-lighter hover:bg-teal rounded-full px-2 text-sm font-semibold text-grey-darker no-underline hover:text-teal-lighter"}}
              #{{post.primaryTag}}
            {{/link-to}}
          {{/if}}
        </section>
        <h1 class="text-5xl font-light">{{post.title}}</h1>
      </header>

      {{#if post.image}}
        <ResponsiveImage @image={{responsive-image-url post.image}} class="w-full block sm:rounded-lg" alt={{post.title}}/>
      {{/if}}

      <div class="post-full-content bg-white border-b-4 border-grey border-solid p-4 sm:p-8 md:p-16 lg:p-24 sm:mx-8 md:mx-12 lg:mx-24 relative z-10 text-base sm:text-lg md:text-xl lg:text-2xl font-light leading-normal">
        {{markdown-to-html post.content tagName=""}}
      </div>

      {{!--
      <section class="post-content-comments">
          If you want to embed comments, this is a good place to do it!
      </section>
      --}}

    </article>
  {{/let}}
</div>